In [38]:
import pandas as pd
import numpy as np
df = pd.read_csv("deadspin.csv")

In [39]:
df

,Timestamp,Date Searched,State,County,City,Agency Name,Victim Name,Victim's Age,Victim's Gender,Race,...,Name of Officer or Officers,Shootings,Was the Shooting Justified?,Receive Updates?,Name,Email Address,Twitter,Date of Incident,Results Page Number,Unnamed: 26
0,8/20/2014 12:06:49,10/15/1986,AZ - Arizona,maricopa,Phoenix,phoenix police,David Valenzuela,24.0,Male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8/20/2014 12:09:29,10/15/1986,TX - Texas,Guadalupe,cibolo,cibolo police department,Kennen Marksbury,41.0,Male,White,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/20/2014 12:11:57,10/15/1986,NJ - New Jersey,morris,Mountain lakes,Mountain Lakes PD,Leonardo Parera,39.0,Male,White,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/20/2014 13:06:16,7/15/1995,TX - Texas,Harris,Houston,Bellaire Police Department,Travis O'Neill Allen,15.0,Male,White,...,Michael Leal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8/20/2014 13:30:17,9/27/2003,OH - Ohio,Preble,West Alexandria,Preble County Emergency Services Unit,Clayton Helriggle,23.0,Male,White,...,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2212,6/5/2020 18:28:48,2/3/2012,FL - Florida,Miami-Dade,Homestead,Miami-Dade Police Department,Danny Cruz,16.0,Male,Unknown,...,NaN,Yes,2.0,Add me!,Helen McLendon,hmclendon@gmail.com,NaN,2/2/2012,1.0,"Yes, mark this date as completed."
2213,6/8/2020 15:39:21,12/23/2020,DE - Delaware,Osaka,Tester City,Tester Police Department,John Terry,26.0,Male,White,...,Riley Patson,Yes,1.0,No thanks.,NaN,NaN,NaN,6/1/2020,1.0,"No, I have an incident/more incidents to log."
2214,6/19/2020 14:00:27,11/11/2020,CT - Connecticut,Gillespiee,Conmouth,CPD,John,47.0,Male,White,...,Clemon Artie,No,3.0,No thanks.,NaN,NaN,NaN,2/2/2020,3.0,This is the first incident I am logging.
2215,6/23/2020 17:27:58,11/11/2020,CT - Connecticut,Gillespiee,Conmouth,CPD,John,47.0,Male,White,...,Clemon Artie,No,3.0,No thanks.,NaN,NaN,NaN,2/2/2020,3.0,This is the first incident I am logging.
2216,8/29/2020 8:47:03,8/29/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Yes, mark this date as completed."

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2217 entries, 0 to 2216
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Timestamp                    2217 non-null   object
 1   Date Searched                2216 non-null   object
 2   State                        1987 non-null   object
 3   County                       1582 non-null   object
 4   City                         1950 non-null   object
 5   Agency Name                  1905 non-null   object
 6   Victim Name                  1737 non-null   object
 7   Victim's Age                 1674 non-null   float64
 8   Victim's Gender              1987 non-null   object
 9   Race                         1985 non-null   object
 10  Hispanic or Latino Origin    1981 non-null   object
 11  Shots Fired                  975 non-null    float64
 12  Hit or Killed?               1987 non-null   object
 13  Armed or Unarmed?            1987 non-null   object
 14  Weapon                       1986 non-null   object
 15  Summary                      1883 non-null   object
 16  Source Link                  1987 non-null   object
 17  Name of Officer or Officers  948 non-null    object
 18  Shootings                    1844 non-null   object
 19  Was the Shooting Justified?  1358 non-null   float64
 20  Receive Updates?             1344 non-null   object
 21  Name                         148 non-null    object
 22  Email Address                183 non-null    object
 23  Twitter                      64 non-null     object
 24  Date of Incident             1018 non-null   object
 25  Results Page Number          1018 non-null   float64
 26  Unnamed: 26                  1173 non-null   object
dtypes: float64(4), object(23)
memory usage: 467.8+ KB

<h3>remove irrelevant columns

In [41]:
df=df.drop(columns=['Armed or Unarmed?', 'Timestamp', 'Date Searched', 'County', 'City', 'Victim Name', 'Source Link', 'Name of Officer or Officers', 'Receive Updates?', 'Name', 'Email Address', 'Twitter', 'Date of Incident', 'Results Page Number', 'Shots Fired', 'Unnamed: 26'])

In [42]:
df.rename(columns={'State':'state', 'Agency Name':'police_agency', "Victim's Age":'age', "Victim's Gender":'gender', 'Race':'race', 'Hispanic or Latino Origin':'hispanic', 'Hit or Killed?':'killed', 'Weapon':'weapon on victim', 'Summary':'description of event', 'Was the Shooting Justified?':'justified'}, inplace=True)

<h3>keep only rows where individual was not killed

In [43]:
df=df[df.killed=='Hit']

<h3>clean 'state' col

In [44]:
df['state'].unique()

array(['CA - California', 'IL - Illinois', 'IN - Indiana', 'GA - Georgia',
       'MA - Massachusetts', 'PA - Pennsylvania', 'IA - Iowa',
       'AR - Arkansas', 'DC - District of Columbia', 'LA - Louisiana',
       'NY - New York', 'OH - Ohio', 'FL - Florida', 'TX - Texas',
       'WY - Wyoming', 'NC - North Carolina', 'KS - Kansas',
       'NH - New Hampshire', 'ME - Maine', 'MT - Montana',
       'TN - Tennessee', 'MD - Maryland', 'VA - Virginia',
       'CT - Connecticut', 'OR - Oregon', 'WA - Washington',
       'SC - South Carolina', 'NJ - New Jersey', 'AK - Alaska',
       'UT - Utah', 'KY - Kentucky', 'NM - New Mexico', 'NV - Nevada',
       'SD - South Dakota', 'WI - Wisconsin', 'MI - Michigan',
       'AL - Alabama', 'OK - Oklahoma', 'CO - Colorado', 'MO - Missouri',
       'HI - Hawaii', 'WV - West Virginia', 'AZ - Arizona',
       'RI - Rhode Island', 'MN - Minnesota', 'DE - Delaware',
       'ID - Idaho'], dtype=object)

In [45]:
def get_abbrev(string):
    return string.split('-')[0].strip()

In [46]:
df['state'] = df.state.apply(lambda x: get_abbrev(x))

<h3>clean 'justified' col</h3>
we take the numbers 1 & 2 to mean unjustified, and 3 & 4 & 5 to mean justified

In [47]:
df['justified'].unique()

array([nan,  2.,  5.,  1.,  4.,  3.])

In [48]:
df['justified'].replace([1, 2], 0, inplace=True)

In [49]:
df['justified'].replace([3, 4, 5], 1, inplace=True)

<h3>clean 'race' col</h3>
use 'hispanic' col to populate it

In [50]:
df['race'].unique()

array(['Unknown', 'White', 'Black or African American', 'Asian',
       'American Indian or Alaska Native'], dtype=object)

In [51]:
df['race'].replace('Black or African American', 'Black', inplace=True)
df['race'].replace('American Indian or Alaska Native', 'Native American', inplace=True)
df['race'].replace('Unknown', np.nan, inplace=True)

In [52]:
df['race'] = np.where(df['hispanic'] == 'Hispanic or Latino origin', 'Hispanic', df['race'])

In [53]:
df.drop('hispanic', axis = 'columns', inplace = True)  #drop col bc we dont need it anymore

<h3>clean 'gender' col</h3>
male=1, female=0

In [54]:
df['male'] = np.where(df['gender'] == 'Male', 1, 
                       np.where(df['gender'] == 'Female', 0, np.nan))

In [55]:
df.drop('gender', axis = 'columns', inplace = True)  #drop col bc we dont need it anymore

<h3>clean 'killed' col</h3>
shows whether an indiv is killed. all indivs here are NOT killed, so we replace all values in this col with 0

In [56]:
df['killed'] = 0

<h3>use 'weapon' col to create new cols</h3>

In [57]:
df.groupby('weapon on victim').size().sort_values(ascending=False)

weapon on victim
Handgun                                                                                                                 162
Unarmed                                                                                                                 122
Unknown                                                                                                                  60
Firearm; not stated                                                                                                      55
Knife or cutting instrument                                                                                              49
Vehicle                                                                                                                  25
Rifle                                                                                                                    18
Shotgun                                                                                                                  15
Toy/fake/non-lethal gun                                                                                                  13
car                                                                                                                       7
Other Gun                                                                                                                 6
Personal weapon (hands, fists, feet, etc.)                                                                                5
Car                                                                                                                       5
Blunt object (clubs, hammers, etc.)                                                                                       4
Car?                                                                                                                      3
vehicle                                                                                                                   2
Bottle of Bleach                                                                                                          1
DWI, Intoxicated, Belligerent                                                                                             1
Automobile                                                                                                                1
Assault Rifle                                                                                                             1
Driving a car                                                                                                             1
A revolver and semi-automatic pistol                                                                                      1
9-pound rock                                                                                                              1
Golf Cart                                                                                                                 1
Passenger in Automobile                                                                                                   1
My weapon was found in my truck that Michael Butlin was in when he was shot at by the deputies trying to surrender..      1
Object picked up from the road                                                                                            1
shotgun, knife and pipe bombs                                                                                             1
Rock                                                                                                                      1
Scissors                                                                                                                  1
UNARMED                                                                                                                   1
Unarmed, but reaching for cane                                                                                            1
Unidentified Gun                                                                                                          1
Weapons were pointed                                                                                                      1
many guns                                                                                                                 1
pellet gun                                                                                                                1
replica of a semi-automatic handgun                                                                                       1
 car                                                                                                                      1
dtype: int64

<b>1) create new col, 'armed_with_gun'

In [58]:
def armed_with_gun(x):
    if ('gun' in x) or ('pistol' in x) or ('Rifle' in x) or ('Gun' in x) or ('revolver' in x) or ('Firearm' in x):
        return 1
    else:
        return 0

In [59]:
df['armed_with_gun'] = df['weapon on victim'].apply(lambda x: armed_with_gun(x))

<b>2) create new col, 'armed_with_knife'

In [60]:
def armed_with_knife(x):
    if ('knife' in x) or ('Knife' in x) or ('cleaver' in x) or ('Scissors' in x):
        return 1
    else:
        return 0

In [61]:
df['armed_with_knife'] = df['weapon on victim'].apply(lambda x: armed_with_knife(x))

<b>3) create new col, 'vehicle_involved'

In [62]:
def vehicle_involved(x):
    x = x.lower()
    if ('vehicle' in x) or ('car' in x) or ('automobile' in x):
        return 1
    else:
        return 0

In [63]:
df['vehicle_involved'] = df['weapon on victim'].apply(lambda x: vehicle_involved(x))

<h3>use 'description of event' col to populate other cols</h3>

<b>1) create new col, 'home_involved', which shows whether the victim interacted with the police near/ at his residence

In [64]:
matches = ['home', 'house', 'domestic', 'apartment ', 'family', 'residence', 'complex', 'neighbor', 
'wife', 'mother', 'girlfriend', 'son', 'father', 'children', 'neighbors', 'husband', 'bedroom', 'brother', 'daughter', 'residential']

from nltk import word_tokenize
home_involved = []
for index in df.index:
    row = df.loc[index]
    if row['description of event'] is not np.nan:
        lis = word_tokenize(row['description of event'].lower())
        if any(x in lis for x in matches):
            home_involved.append(1)
        else:
            home_involved.append(0)
    else:
        home_involved.append(np.nan)

df['home_involved'] = home_involved

<b>2) populate existing col, 'vehicle_involved', which shows whether the victim was in a vehicle when he interacted with the police

In [65]:
df.groupby('vehicle_involved').size()

vehicle_involved
0    526
1     47
dtype: int64

In [66]:
matches = ['vehicle', 'car', 'driver', 'traffic', 'driving', 'parking', 'lot', 'truck', 'drove', 'crashed', 'road', 'passenger', 'highway', 'vehicles', 'cars', 'drive', 'rammed', 'parked', 'carjacking', 'driven']

from nltk import word_tokenize
vehicle_involved = []
for index in df.index:
    row = df.loc[index]
    if row['description of event'] is not np.nan and row['vehicle_involved'] == 0:
            lis = word_tokenize(row['description of event'].lower())
            if any(x in lis for x in matches):
                row.loc['vehicle_involved'] = 1.0  #row is now changed but df is not yet changed
                df.loc[index] = row  #change df in-place

/Users/sheila/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-66-1adf1e500cae>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row.loc['vehicle_involved'] = 1.0  #row is now changed but df is not yet changed

<b>3) create new col, 'was_fleeing'

In [67]:
matches = ['fled', 'ran', 'pursuit', 'chased', 'pursued', 'run', 'flee', 'running', 'fleeing', 'pursuing', 'escape']

was_fleeing = []
from nltk import word_tokenize
for index in df.index:
    row = df.loc[index]
    if row['description of event'] is not np.nan:
        lis = word_tokenize(row['description of event'].lower())
        if any(x in lis for x in matches):
            was_fleeing.append(1)
        else:
            was_fleeing.append(0)
    else:
        was_fleeing.append(np.nan)

df['was_fleeing'] = was_fleeing

<b>4) create new col, 'shooting_involved'

In [68]:
df['Shootings'].unique()

array([nan, 'Yes', 'No'], dtype=object)

In [69]:
df['shooting_involved'] = np.where(df['Shootings'] == 'Yes', 1,
                                  np.where(df['Shootings'] == 'No', 0, np.nan))

In [70]:
#use 'description of event' col to populate the NAs in 'shooting_involved'

matches = ['shot','fired','hit','shooting','gun','shots','injuries','weapon','armed','gunshot','bullet','handgun','gunfire','firing','firearm','shotgun']

from nltk import word_tokenize

for index in df.index:
    row = df.loc[index]
    if row['description of event'] is not np.nan and row['shooting_involved'] != 1:
        lis = word_tokenize(row['description of event'].lower())
        if any(x in lis for x in matches):
            row.loc['shooting_involved'] = 1
            df.loc[index] = row

<ipython-input-70-a89aa5637e83>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row.loc['shooting_involved'] = 1

In [71]:
#remove col bc no need anymore

df.drop('Shootings', axis = 'columns', inplace = True)

<b>4) create new col, 'taser_involved'

In [72]:
from nltk import word_tokenize

taser_involved = []
for index in df.index:
    row = df.loc[index]
    if row['description of event'] is not np.nan:
        lis = word_tokenize(row['description of event'].lower())
        if any('taser' in word for word in lis):
            taser_involved.append(1)
        else:
            taser_involved.append(0)
    else:
        taser_involved.append(np.nan)
            
df['taser_involved'] = taser_involved

<b>4) create new col, 'physical_violence_involved'

In [73]:
from nltk import word_tokenize

matches = ['asphyxiated', 'restraint', 'beat', 'punch', 'kick']

physical_violence_involved = []
from nltk import word_tokenize
for index in df.index:
    row = df.loc[index]
    if row['description of event'] is not np.nan:
        lis = word_tokenize(row['description of event'].lower())
        if any(x in lis for x in matches):
            physical_violence_involved.append(1)
        else:
            physical_violence_involved.append(0)
    else:
        physical_violence_involved.append(np.nan)

df['physical_violence_involved'] = physical_violence_involved

<h3>export cleaned dataset

In [74]:
df.to_csv('cleaned_dataset_not_killed.csv', index=False)