In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

<h1>Dataset 1: Data Cleaning</h1>
<h3>Mapping Police Violence's Dataset</h3>
https://mappingpoliceviolence.org/aboutthedata

In [68]:
df1 = pd.read_excel('mapping police violence.xlsx')

In [69]:
df1

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Unarmed/Did Not Have an Actual Weapon,Alleged Weapon (Source: WaPo and Review of Cases Not Included in WaPo Database),Alleged Threat Level (Source: WaPo),Fleeing (Source: WaPo),Body Camera (Source: WaPo),WaPo ID (If included in WaPo database),Off-Duty Killing?,Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx ),MPV ID,Fatal Encounters ID
0,Pedro Martinez,66,Male,Hispanic,NaN,2020-11-18,NaN,Tyler,TX,NaN,...,Allegedly Armed,unknown weapon,other,not fleeing,no,6321.0,NaN,NaN,NaN,NaN
1,James Horton,42,Male,NaN,NaN,2020-11-17,NaN,Hart County,KY,NaN,...,Allegedly Armed,gun,attack,other,no,6322.0,NaN,NaN,NaN,NaN
2,Dustin James Acosta,28,Male,White,NaN,2020-11-17,NaN,St. Augustine,FL,NaN,...,Allegedly Armed,gun,attack,NaN,No,6320.0,NaN,NaN,NaN,NaN
3,Javon Brice,39,Male,NaN,NaN,2020-11-17,NaN,La Vergne,TN,NaN,...,Allegedly Armed,gun,attack,car,no,6319.0,NaN,NaN,NaN,NaN
4,Joshua D. Evans,32,Male,NaN,NaN,2020-11-16,NaN,Batesville,IN,NaN,...,Allegedly Armed,gun,attack,not fleeing,no,6314.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8623,Mark Chavez,49,Male,Hispanic,http://www.tricitytribuneusa.com/wp-content/up...,2013-01-01,912 Loma Linda Ave.,Farmington,NM,87401.0,...,Allegedly Armed,blunt weapon,NaN,NaN,NaN,NaN,NaN,Urban,1.0,12175.0
8624,Tyree Bell,31,Male,Black,http://content.omaha.com/media/maps/ps/2013/ja...,2013-01-01,3727 N. 42nd St.,Omaha,NE,68111.0,...,Allegedly Armed,gun,NaN,NaN,NaN,NaN,NaN,Urban,2.0,12173.0
8625,Christopher Tavares,21,Male,Hispanic,http://www.krdo.com/image/view/-/17980228/medR...,2013-01-01,Highway 50 and North Elizabeth Street,Pueblo,CO,81008.0,...,Allegedly Armed,gun,NaN,NaN,NaN,NaN,NaN,Suburban,4.0,12176.0
8626,Andrew L. Closson,21,Male,White,http://www.superiortelegram.com/sites/default/...,2013-01-01,U.S. Highway 53,Gordon,WI,54838.0,...,Allegedly Armed,gun,NaN,NaN,NaN,NaN,NaN,Rural,5.0,12172.0
8627,Andrew Layton,26,Male,White,http://bloximages.chicago2.vip.townnews.com/ma...,2013-01-01,410 S Riverfront Drive,Mankato,MN,56001.0,...,Unarmed/Did Not Have an Actual Weapon,no object,NaN,NaN,NaN,NaN,NaN,Suburban,6.0,12171.0

In [70]:
df1.columns

Index(['Victim's name', 'Victim's age', 'Victim's gender', 'Victim's race',
       'URL of image of victim', 'Date of Incident (month/day/year)',
       'Street Address of Incident', 'City', 'State', 'Zipcode', 'County',
       'Agency responsible for death', 'ORI Agency Identifier (if available)',
       'Cause of death',
       'A brief description of the circumstances surrounding the death',
       'Official disposition of death (justified or other)',
       'Criminal Charges?',
       'Link to news article or photo of official document',
       'Symptoms of mental illness?', 'Unarmed/Did Not Have an Actual Weapon',
       'Alleged Weapon (Source: WaPo and Review of Cases Not Included in WaPo Database)',
       'Alleged Threat Level (Source: WaPo)', 'Fleeing (Source: WaPo)',
       'Body Camera (Source: WaPo)', 'WaPo ID (If included in WaPo database)',
       'Off-Duty Killing?',
       'Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )',
       'MPV ID', 'Fatal Encounters ID'],
      dtype='object')

<h3>Change col names for ease of coding

In [71]:
df1.rename(columns = {"Victim's name": "name", "Victim's race": "race", "Victim's age": "age", "Victim's gender": "gender", "Date of Incident (month/day/year)": "date", "State": "state", "Agency responsible for death": "police_agency", "Cause of death": "cause of death", "A brief description of the circumstances surrounding the death": "description of death", "Official disposition of death (justified or other)": "death justified by law", "Criminal Charges?": "police charged", "Symptoms of mental illness?": "mental illness", "Unarmed/Did Not Have an Actual Weapon": "was armed", "Alleged Weapon (Source: WaPo and Review of Cases Not Included in WaPo Database)": "weapon on victim", "Alleged Threat Level (Source: WaPo)": "alleged threat level", "Fleeing (Source: WaPo)": "fleeing", "Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )": "geography type"}, inplace = True)

<h3>For Column 'race'

In [72]:
df1['race'].unique()

array(['Hispanic', nan, 'White', 'Unknown race', 'Black', 'Unknown Race',
       'Native American', 'unknown race', 'Asian', 'Pacific Islander'],
      dtype=object)

In [73]:
len(df1[(df1['race'] == 'Unknown race') | (df1['race'] == 'Unknown Race') | (df1['race'] == 'unknown race') | (df1['race'].isnull())])

#there are 920 rows without a value for 'race' (almost 1/8 of our df) -> but race is v impt in our analysis so we must drop them

920

In [74]:
df1 = df1[(df1['race'] != 'Unknown race') & (df1['race'] != 'Unknown Race') & (df1['race'] != 'unknown race') & (~df1['race'].isnull())]

In [75]:
df1.groupby('race').size()

race
Asian                132
Black               2158
Hispanic            1483
Native American      120
Pacific Islander      46
White               3769
dtype: int64

<h3>Drop irrelevant columns</h3>
Either irrelevant to our analysis or info is repeated in other cols already

In [76]:
df1.drop(['police charged', 'URL of image of victim', 'Street Address of Incident', 'City', 'Zipcode', 'County', 'ORI Agency Identifier (if available)', 'Link to news article or photo of official document', 'Body Camera (Source: WaPo)', 'WaPo ID (If included in WaPo database)', 'Off-Duty Killing?', 'MPV ID', 'Fatal Encounters ID'], axis = 'columns', inplace = True)

/Users/sheila/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

<h3>For Column 'age'

In [77]:
df1['age'].unique()

array([66, 28, 35, 38, 40, 18, 16, 37, 25, 56, 34, 36, 30, 26, 39, 43, 21,
       44, 20, 27, 53, 19, 33, nan, 45, 61, 48, 32, 57, 46, 47, 23, 29,
       52, 51, 24, 41, 62, 31, 42, 22, 55, 88, 50, 17, 60, 'Unknown', 63,
       73, 49, 68, 58, 65, 69, 64, 54, 59, 67, 82, 75, 15, 70, 74, 77, 76,
       80, 14, 71, 6, 72, 84, 1, 81, 78, '40s', 79, 91, 83, 13, 10, 12,
       86, 95, 5, 93, 7, 107, 89], dtype=object)

In [78]:
df1['age'] = np.where(df1['age']=='Unknown', np.nan, df1['age'])

<ipython-input-78-b1436a5ef0bc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['age'] = np.where(df1['age']=='Unknown', np.nan, df1['age'])

In [79]:
#change misspelling

df1.age.replace('40s', 40, inplace=True)

/Users/sheila/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

<h3>For Column 'gender'</h3>
create new col 'male'

In [80]:
df1.gender.unique()

array(['Male', 'Female', 'Transgender', nan, 'Unknown'], dtype=object)

In [81]:
df1['male'] = np.where(df1['gender'] == 'Male', 1, 
                       np.where(((df1['gender'] == 'Female') | (df1['gender'] == 'Transgender')), 0, np.nan))

<ipython-input-81-dc524b4d1e56>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['male'] = np.where(df1['gender'] == 'Male', 1,

In [82]:
df1.drop('gender', axis = 'columns', inplace = True)

<h1>Dataset 2: Data Cleaning
<h3>The Washington Post's database</h3>
https://www.washingtonpost.com/graphics/investigations/police-shootings-database/
https://github.com/washingtonpost/data-police-shootings

In [83]:
df2 = pd.read_csv('the washington post.csv')

In [84]:
df2

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5844,6340,NaN,2020-11-27,shot,gun,NaN,M,NaN,Wilsonville,OR,True,other,NaN,False,-122.834,45.278,True
5845,6339,Cory Donell Truxillo,2020-11-29,shot,gun,43.0,M,B,Houma,LA,True,attack,Not fleeing,False,-90.730,29.602,True
5846,6363,NaN,2020-11-30,shot,BB gun,NaN,M,NaN,Phoenix,AZ,False,attack,Not fleeing,False,-112.112,33.495,True
5847,6364,Adam Lee Mendez,2020-11-30,shot,knife,38.0,M,H,San Angelo,TX,False,other,Not fleeing,False,-100.475,31.469,True
5848,6365,NaN,2020-11-30,shot,gun,NaN,M,NaN,Pensacola,FL,False,other,Other,False,-87.197,30.488,True

<h3>Change col names

In [85]:
df2.rename(columns = {'manner_of_death': 'cause of death', 'armed': 'was armed', 'signs_of_mental_illness': 'mental illness', 'threat_level': 'alleged threat level', 'flee': 'fleeing'}, inplace = True)

<h3>Drop irrelevant columns</h3>
Either irrelevant to our analysis or info is repeated in other cols already

In [86]:
df2.drop(['city', 'id', 'body_camera', 'longitude', 'latitude', 'is_geocoding_exact'], axis = 'columns', inplace = True)

<h3>For Column 'gender'</h3>
create new col 'male'

In [87]:
df2.gender.unique()

array(['M', 'F', nan], dtype=object)

In [88]:
df2['male'] = np.where(df2['gender'] == 'M', 1, 
                       np.where(df2['gender'] == 'F', 0, np.nan))

In [89]:
df2.drop('gender', axis = 'columns', inplace = True)

<h3>Combine The Washington Post data with MPV data: Adds another 1513 rows

In [90]:
df2 = df2[~df2['name'].isin(df1['name'])]

In [91]:
df = pd.concat([df1, df2], axis = 0)  #our final dataframe is named 'df'

In [92]:
#remove col 'name' bc we dont need it anymore

df.drop('name', axis = 'columns', inplace = True)

In [93]:
df.columns

Index(['age', 'race', 'date', 'state', 'police_agency', 'cause of death',
       'description of death', 'death justified by law', 'mental illness',
       'was armed', 'weapon on victim', 'alleged threat level', 'fleeing',
       'geography type', 'male'],
      dtype='object')

<h1>Final Dataset: Data Cleaning

<h3>For col 'race'

In [94]:
df.race.unique()

array(['Hispanic', 'White', 'Black', 'Native American', 'Asian',
       'Pacific Islander', 'A', 'W', 'B', 'H', 'O', nan, 'N'],
      dtype=object)

In [95]:
#standardize notation: use the 5 largest racial categories in the USA
df.race.replace('A', 'Asian', inplace=True)
df.race.replace('W', 'White', inplace=True)
df.race.replace('B', 'Black', inplace=True)
df.race.replace('H', 'Hispanic', inplace=True)
df.race.replace('N', 'Native American', inplace=True)
df.race.replace('O', 'Native American', inplace=True)
df.race.replace('Pacific Islander', 'Native American', inplace=True)

<h3>For col 'cause of death'

In [96]:
df.groupby('cause of death').size().sort_values(ascending=False)

#the top 3 categories are: gunshot, taser, physical violence. so we create 3 new dummy variables for each category

cause of death
Gunshot                                    7087
shot                                       1915
Gunshot, Taser                              244
Taser                                       224
shot and Tasered                            101
Vehicle                                      32
Beaten                                       29
Physical Restraint                           25
Tasered                                      14
Physical restraint                            9
Asphyxiated                                   8
Gunshot, Police Dog                           5
Other                                         5
Pepper Spray                                  4
Gunshot, Pepper Spray                         4
Taser, Physical Restraint                     2
Gunshot, Taser, Pepper spray                  1
Taser, Pepper spray, beaten                   1
Baton, Pepper Spray, Physical Restraint       1
Bean bag                                      1
Beaten/Bludgeoned with instrument             1
Bomb                                          1
Chemical agent/Pepper spray                   1
Gunshot, Bean Bag Gun                         1
Taser, Beaten                                 1
Gunshot, Beanbag Gun                          1
Gunshot, Vehicle                              1
Gunshot, Unspecified Less Lethal Weapon       1
Gunshot, Stabbed                              1
Taser, Pepper Spray, Beaten                   1
Gunshot, Taser, Baton                         1
Gunshot, Taser, Beanbag Shotgun               1
dtype: int64

In [97]:
def was_shot(x):
    if ('Gunshot' in x) or ('Gun' in x) or ('shot' in x):
        return 1
    else:
        return 0

In [98]:
df['shooting_involved'] = df['cause of death'].apply(lambda x: was_shot(x))

In [99]:
def was_tasered(x):
    if 'Taser' in x:
        return 1
    else:
        return 0

In [100]:
df['taser_involved'] = df['cause of death'].apply(lambda x: was_tasered(x))

In [101]:
def physical_violence(x):
    if ('Asphyxiated' in x) or ('Restraint' in x) or ('restraint' in x) or ('Beaten' in x) or ('beaten' in x):
        return 1
    else:
        return 0

In [102]:
df['physical_violence_involved'] = df['cause of death'].apply(lambda x: physical_violence(x))

In [103]:
#delete the col 'cause of death'

df.drop('cause of death', axis = 'columns', inplace = True)

<h3>For col 'death justified by law'

In [104]:
df.groupby('death justified by law').size().sort_values(ascending=False)

#create 1 new dummy var, 'justified': whether or not the law found the police killing to be justified

death justified by law
Pending investigation/No Known Charges                                                     4398
Unreported                                                                                 1079
Justified                                                                                   594
Pending investigation                                                                       409
Justified by District Attorney                                                              321
                                                                                           ...
Charged, Convicted of involuntary manslaughter, Sentenced to 5 years in Prison                1
Charged, Convicted of manslaughter and attempted murder, Sentenced to 25 years                1
Charged, Convicted of manslaughter, Sentenced to 2.5 years in prison                          1
Charged, Convicted of misdemeanor misconduct in office, Sentenced to 3 years probation        1
Charged, Convicted of reckless manslaughter, Sentenced to 6 years                             1
Length: 142, dtype: int64

In [105]:
def killing_was_jutified(x):
    if type(x) == str:  #the NAs are in float datatype
        if ('Justified' in x) or ('Cleared' in x):
            return 1
        elif ('Unknown' in x) or ('No Known Charges' in x) or ('Under investigation' in x) or ('Unreported' in x) or ('Pending investigation' in x):
            return np.nan
        else:
            return 0
    else:
        return np.nan

In [106]:
df['justified'] = df['death justified by law'].apply(lambda x: killing_was_jutified(x))

In [107]:
#we don't need the col 'death justified by law' anymore, so drop it

df.drop('death justified by law', axis = 'columns', inplace = True)

<h3>For cols 'weapon on victim' and 'was armed'

In [108]:
df['weapon on victim'].unique()

array(['unknown weapon', 'gun', 'undetermined', 'vehicle', 'knife',
       'curtain rod', 'machete', 'no object', 'shovel', 'Airsoft pistol',
       'toy weapon', 'pepper spray', 'bottle', 'sword', 'baseball bat',
       'Taser', 'hammer', 'vehicle and gun', 'rock', 'samurai sword',
       'sharp object', 'gun and car', 'windshield wiper', 'metal pipe',
       'gun and vehicle', 'pick-axe', 'tire iron', 'screwdriver',
       'BB gun', 'scissors', 'meat cleaver', 'chair', 'chain', 'hatchet',
       'car, knife and mace', 'vehicle and machete', 'box cutter', 'ax',
       'crowbar', 'baseball bat and knife', 'straight edge razor',
       'baton', 'air pistol', 'wasp spray', 'BB gun and vehicle',
       'piece of wood', 'gun and knife', 'garden tool', 'barstool',
       'walking stick', 'wrench', 'flag pole', 'lawn mower blade',
       'crossbow', 'bow and arrow', 'lamp', 'incendiary device', 'pipe',
       'pole and knife', 'lighter fluid', 'pitchfork', 'gun and sword',
       'taser', 'blunt object', 'chainsaw', 'pen', 'fireworks',
       'gun and hatchet', 'baseball bat and bottle',
       'electric razor on cord', 'metal object', 'metal stick',
       'golf club', 'beer bottle', 'pole and Knife',
       'air conditioner and glass bottle', 'Scissors', 'gun and machete',
       'oar', 'bat', 'metal rake', 'brick', 'motorcycle', 'glass shard',
       'chain saw', 'bayonet', 'metal pole', 'Ax', 'spear', 'stick',
       'knife, toy', 'flashlight', 'Pole', 'hand torch',
       'baseball bat and fireplace poker', 'toy broomstick',
       'bean-bag Gun', 'binoculars', 'Stapler', 'railroad spike',
       'guns and explosives', "contractor's level", 'carjack', 'vehicle ',
       'flagpole', 'metal hand tool', 'cordless drill', 'Hammer',
       'nail gun', 'sock', 'edged weapon', 'wooden nightstand',
       'knife and rocks', 'cell phone', 'metal bar', 'knife and crowbar',
       'knife and screwdriver', 'axe', 'metal post', 'knives',
       'toy sword', 'rocks', 'claw hammer', 'cologne', 'cane and knife',
       'knife and stick', 'blade', 'gun and explosives', 'lighter',
       'hockey stick', 'garden shears', 'wood stick ', 'knife and gun',
       'ax and knife', 'cane', 'cleaver', 'game controller',
       'screw driver', 'unclear weapon', 'guns', 'mallett',
       'knife and hammer', 'taser, baton, gun', 'hunting bow',
       'wooden stick', 'knife and bat', 'gun and knives',
       'hammer and knife', 'knife and scissors', 'explosives and guns',
       'knife/scissors', 'probe', 'tree branch', 'bike', 'table leg',
       'gun, vehicle', 'sticks', 'club', 'blunt weapon', nan],
      dtype=object)

In [109]:
#1) create new var, 'armed_with_gun'

In [110]:
def weapon(x):
    if type(x) == str:  #the NAs are in float datatype
        if ('gun' in x) or ('pistol' in x):
            return 1
        else:
            return 0
    else:
        return np.nan

In [111]:
df['armed_with_gun'] = df['weapon on victim'].apply(lambda x: weapon(x))

In [112]:
def weapon(x):
    if type(x) == str:  #the NAs are in float datatype
        if ('gun' in x) or ('pistol' in x) or ('guns' in x):
            return True

In [113]:
df['armed_with_gun'] = np.where(df['was armed'].apply(lambda x: weapon(x)) == True, 1, df['armed_with_gun'])

In [114]:
#2) create new var, 'armed_with_knife'

In [115]:
def weapon(x):
    if type(x) == str:  #the NAs are in float datatype
        if ('knife' in x) or ('cleaver' in x):
            return 1
        else:
            return 0
    else:
        return np.nan

In [116]:
df['armed_with_knife'] = df['weapon on victim'].apply(lambda x: weapon(x))

In [117]:
def weapon(x):
    if type(x) == str:  #the NAs are in float datatype
        if 'knife' in x:
            return True

In [118]:
df['armed_with_knife'] = np.where(df['was armed'].apply(lambda x: weapon(x)) == True, 1, df['armed_with_knife'])

<h3>For col 'alleged threat level'

In [119]:
df['alleged threat level'].unique()

#create a new dummy var, 'was an alleged threat'

array(['other', 'attack', nan, 'undetermined'], dtype=object)

In [120]:
def threat(x):
    if type(x) == str:  #the NAs are in float datatype
        if x == 'attack':
            return 1
        else:
            return 0
    else:
        return np.nan

In [121]:
df['was_a_threat'] = df['alleged threat level'].apply(lambda x: threat(x))

In [122]:
df.drop('alleged threat level', axis = 'columns', inplace = True)

<h3>For col 'fleeing'

In [123]:
df['fleeing'].unique()

#create new dummy var, 'was fleeing'

array(['not fleeing', nan, 'car', 'foot', 'Not fleeing', 'other', 'Foot',
       'Car', 'Not Fleeing', 'Other'], dtype=object)

In [124]:
def flee(x):
    if type(x) == str:  #the NAs are in float datatype
        if x.lower() == 'not fleeing':
            return 0
        else:
            return 1
    else:
        return np.nan

In [125]:
df['was_fleeing'] = df['fleeing'].apply(lambda x: flee(x))

In [126]:
df.drop('fleeing', axis = 'columns', inplace = True)

<h3>For col 'geography type'

In [127]:
df['geography type'].unique()

#convert 'underdetermined' values into NA

array([nan, 'Rural', 'Urban', 'Suburban', 'Undetermined'], dtype=object)

In [128]:
df['geography type'].replace('Undetermined', np.nan, inplace=True)

<h3>For column 'mental illness'

In [129]:
df.groupby('mental illness').size()

mental illness
False                  1533
True                    483
Drug or alcohol use     291
No                     4874
Unknown                1058
Unknown                   1
Unkown                    1
Yes                    1452
unknown                   1
dtype: int64

In [130]:
df['mental_illness'] = np.where((df['mental illness'] == 'False') | (df['mental illness'] == 'No'), 0, 
                                np.where((df['mental illness'] == 'True') | (df['mental illness'] == 'Yes'), 1, np.nan))

In [131]:
#remove old col
df.drop('mental illness', axis = 'columns', inplace = True)